---
import "../styles/social-link.css";

interface Props {
  icon: string;
  platform: string;
  username: string;
  link?: string;
}

const { icon, platform, username, link } = Astro.props;
const hasLink = typeof link === "string" && link.trim().length > 0;

---

<li class="social-link-root">
  <i class={icon} aria-hidden="true"></i>

  <span class="social-link-text">
    <span class="social-platform">{platform}</span>
    {
      hasLink ? (
        <a href={link} class="accent social-link">{username}</a>
      ) : (
        <span class="accent social-link">{username}</span>
      )
    }
  </span>
</li>